{% extends '@EasyMagUser/BackOffice/Commercial/layout.html.twig' %}

{% block title %}Title{% endblock %}

{% block breadcrumb %}
    <h2>Commande</h2>
    <ol class="breadcrumb">
        <li>
            <a href="{{ path('commercial_index' ) }}">{{ "dashboard._"|trans }}</a>
        </li>
        <li class="active">
            <a href="{{ path('document_index' ) }}"><strong>Mes Documents</strong></a>
        </li>
    </ol>
{% endblock %}

{% block content %}
{% endblock %}