# This file is a "template" of what your parameters.yml file should look like
# Set parameters here that may be different on each deployment target of the app, e.g. development, staging, production.
# https://symfony.com/doc/current/best_practices/configuration.html#infrastructure-related-configuration
parameters:
    database_host: 127.0.0.1
    database_port: 8889
    database_name: easymag
    database_user: root
    database_password: root
    mailer_transport: smtp
    mailer_host: smtp.gmail.com
    mailer_user: contact@lessentieldevotreville.fr
    mailer_password: java
    secret: 7cd4cd854badcbef9556b33a7d79b00c45850428

    # A secret key that's used to generate certain security-related tokens
    secret: ThisTokenIsNotSoSecretChangeIt
